DATABASE_URL=postgresql://postgres.lyxdjprsfstxqakudhjd:SUA_SENHA@aws-0-us-east-1.pooler.supabase.com:6543/postgres?pgbouncer=true
DIRECT_URL=postgresql://postgres.lyxdjprsfstxqakudhjd:SUA_SENHA@aws-0-us-east-1.pooler.supabase.com:5432/postgres

JWT_SECRET=gere_um_segredo_aleatorio_32_caracteres_ou_mais
JWT_EXPIRES_IN=7d
NODE_ENV=production
HOST=0.0.0.0

FRONTEND_URL=https://seu-app.vercel.app
CORS_ORIGIN=https://seu-app.vercel.app
PUBLIC_BASE_URL=https://papufy-api.onrender.com

ASAAS_API_URL=https://sandbox.asaas.com/v3
ASAAS_API_KEY=sua_chave_api_sandbox_asaas
ASAAS_WEBHOOK_TOKEN=token_opcional_para_validar_webhook

UPLOAD_DIR=./uploads
